<article>
  <b>Risk Score Legend</b>
  <br>
  <div class="div-table">
    <div>
      <span class="bgGreen">&#160;</span>
      <span>0% - 25%</span>
      <span><b>-</b></span>
      <span>Low Risk</span>
    </div>
    <div>
      <span class="bgYellow">&#160;</span>
      <span>26% - 50%</span>
      <span><b>-</b></span>
      <span>Borderline</span>
    </div>
    <div>
      <span class="bgOrange">&#160;</span>
      <span>51% - 75%</span>
      <span><b>-</b></span>
      <span>High</span>
    </div>
    <div>
      <span class="bgRed">&#160;</span>
      <span>76% - 100%</span>
      <span><b>-</b></span>
      <span>Critical</span>
    </div>
  </div>
</article>
