
.verticalLine {
  border-right: thin solid #cccccc;
}

.filterpadding {
  padding-left: 2.5em;
}

/*** Div table start ***/
.div-table
{
  display: table;
  width: 24em;
}

.div-table div
{
  display: table-row;
}

.div-table div span
{
  display: table-cell;
  padding: 3px;
}

.div-table .spanright
{
  display: table-cell;
  padding: 3px;
  text-align: right;
}

/* add borders */
.div-table,
.div-table div span
{
  /*border: 1px solid black;*/
}

/* bold on 1st row */
.div-table div:nth-child(1)
{
  /*font-weight: bold;*/
}
/*** Div table end ***/
